<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Software Inventario", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li class="dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                Sin Llave
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>

                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Usuario", "PaginadorIndex", "Usuario")</li>
                                <li>@Html.ActionLink("Cliente", "PaginadorIndex", "Cliente")</li>
                                <li>@Html.ActionLink("Proveedor", "PaginadorIndex", "Proveedor")</li>
                                <li>@Html.ActionLink("Roles", "PaginadorIndex", "Roles")
                                <li>                         
                            </ul>

                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Con Llave
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Producto", "PaginadorIndex", "Producto")</li>
                            <li>@Html.ActionLink("Compra", "PaginadorIndex", "Compra")</li>
                            <li>@Html.ActionLink("Producto Imagen", "Index", "Producto_Imagen")</li>
                            <li>@Html.ActionLink("Producto Compra", "PaginadorIndex", "Producto_Compra")</li>
                            <li>@Html.ActionLink("Usuario Rol", "PaginadorIndex", "UsuarioRol")</li>
                            @*Aqui van los otros links para las tablas con llave foranea*@
                        </ul>
                       </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">
                      Reportes
                      <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                      </a>
                      <ul class="dropdown-menu">
                      <li>@Html.ActionLink("Reporte", "EjReporte", "Producto")</li>
                      <li>@Html.ActionLink("Reporte Ventas", "PrimerReporte", "Compra")</li>
                      </ul>
                    </li>

                        <li>@Html.ActionLink("Cerrar Sesión", "CloseSession", "Usuario")</li>
            }
            else
            {
                <li>@Html.ActionLink("Iniciar Sesión", "Login", "Usuario")</li>
            }
                        

                    </ul>
             
           </div>              
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dev by: Natalia Castiblanco</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
