@model IEnumerable<ProyectoASPTrimestre3.Models.producto_imagen>

@{
    ViewBag.Title = "Lista Producto Imagen";
}

<h2>Lista Producto Imagen</h2>

<p>
    @Html.ActionLink("Crear Producto Imagen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Imagen:
        </th>
        <th>
            Nombre Producto:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imagen)
            </td>
            <td>
                @ProyectoASPTrimestre3.Controllers.Producto_ImagenController.nombreProducto(item.id_producto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event){
            if (!confirm('¿Está seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>

}