@model ProyectoASPTrimestre3.Models.producto

@{
    ViewBag.Title = "Detalles Producto";
}

<h2>Detalles Producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Producto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Precio Unitario:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percio_unitario)
        </dd>

        <dt>
            Descripcion Producto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Cantidad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            Proveedor:
        </dt>

        <dd>
            @ProyectoASPTrimestre3.Controllers.ProductoController.nombreProveedor(Model.id_proveedor)
        </dd>
        <dt>
            Imagen
        </dt>
        <dd>
            <img class="img-responsive" src="@Url.Content("~/" + ViewBag.imagen)" alt="Image"/> 
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todos", "PaginadorIndex")
</p>
