@model ProyectoASPTrimestre3.Models.cliente

@{
    ViewBag.Title = "Detalles Cliente";
}

<h2>Detalles Cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Cliente:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            N° Documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            Correo Electronico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todos", "PaginadorIndex")
</p>
