@model ProyectoASPTrimestre3.Models.ModeloIndex

@{
    ViewBag.Title = "Lista de Clientes";
}

<h2>Lista Clientes</h2>

<p>
    @Html.ActionLink("Crear Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Cliente:
        </th>
        <th>
            N° Documento:
        </th>
        <th>
            Correo Electronico:
        </th>
        <th></th>
    </tr>

    @foreach (var cliente in Model.Clientes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => cliente.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = cliente.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = cliente.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = cliente.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Está seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>

}

@{ Html.RenderPartial("Paginador", Model); }


