@model ProyectoASPTrimestre3.Models.producto_compra

@{
    ViewBag.Title = "Detalles Producto Compra";
}

<h2>Detalles Producto Compra</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cantidad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            Total Compra:
        </dt>

        <dd>
            @ProyectoASPTrimestre3.Controllers.Producto_CompraController.TotalCompra(Model.id_compra)
        </dd>

        <dt>
            Nombre Producto:
        </dt>

        <dd>
            @ProyectoASPTrimestre3.Controllers.Producto_CompraController.NombreProducto(Model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todos", "PaginadorIndex")
</p>
