@model IEnumerable<ProyectoASPTrimestre3.Models.producto_compra>

@{
    ViewBag.Title = "Lista Productos Compra";
}

<h2>Lista Productos Compra</h2>

<p>
    @Html.ActionLink("Crear producto compra", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cantidad:
        </th>
        <th>
            Id Compra:
        </th>
        <th>
            Nombre Producto:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @ProyectoASPTrimestre3.Controllers.Producto_CompraController.TotalCompra(item.id_compra)
            </td>
            <td>
                @ProyectoASPTrimestre3.Controllers.Producto_CompraController.NombreProducto(item.id_producto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
     }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event){
            if (!confirm('¿Está seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>

}
