@model IEnumerable<ProyectoASPTrimestre3.Models.compra>

@{
    ViewBag.Title = "Compra - Lista";
}

<h2>Lista Compras</h2>

<p>
    @Html.ActionLink("Agregar Compra", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha de la Compra:
        </th>
        <th>
            Total:
        </th>
        <th>
            Nombre Usuario:
        </th>
        <th>
            Nombre Cliente:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @ProyectoASPTrimestre3.Controllers.CompraController.nombreUsuario(item.id_usuario)
            </td>
            <td>
                @ProyectoASPTrimestre3.Controllers.CompraController.nombreCliente(item.id_cliente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
     }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event){
            if (!confirm('¿Está seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>

}