@model ProyectoASPTrimestre3.Models.ModeloIndex

@{
    ViewBag.Title = "Compra - Lista";
}

<h2>Lista Compras</h2>

<p>
    @Html.ActionLink("Agregar Compra", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha Compra:
        </th>
        <th>
            Total:
        </th>
        <th>
            Nombre Usuario:
        </th>
        <th>
            Nombre Cliente:
        </th>
        <th></th>
    </tr>

    @foreach (var compra in Model.Compras)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => compra.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => compra.total)
                @Html.DisplayFor(modelItem => compra.total)
            </td>
            <td>
                @ProyectoASPTrimestre3.Controllers.CompraController.nombreUsuario(compra.id_usuario)
            </td>
            <td>
                @ProyectoASPTrimestre3.Controllers.CompraController.nombreCliente(compra.id_cliente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = compra.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = compra.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = compra.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Reporte", "PrimerReporte", "Compra")
</div>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Está seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>

}

@{ Html.RenderPartial("Paginador", Model); }

